 /* Header style */
 
 header {
     background-color: #4173bc;
 }
 
 .h1-div {
     align-self: center;
     text-align: start;
     color: gold;
 }
 
 .navigation-container {
     border-bottom: 2px solid #4173bc;
     padding-bottom: 10px;
 }
 /* Used important to change bootstrap color from nav*/
 
 .nav-link {
     color: #4173bc!important;
 }
 /* This is pseudocode for a CSS rule */
 /*selector { 
    property: value; 
    property: value; 
 } */
 /* This would be another, second rule */
 /*selector { 
    property: value; 
 }*/
 
 p {
     /* applies to all paragraphs */
     font-family: 'Helvetica'
 }
 
 .alert {
     /* applies to all elements with class="alert" */
     font-size: larger;
 }
 
 .success {
     /* applies to all elements with class="success" */
     color: #28a745;
     /* a pleasant green */
 }